Repository ReeceRose/monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Refactor code of server-go-graphql and created new go mod for server-go
  apps/server-go-graphql/go.mod
  apps/server-go-graphql/gqlgen.yml
  apps/server-go-graphql/graph/generated/generated.go
  apps/server-go-graphql/graph/resolver.go
  apps/server-go-graphql/graph/schema.resolvers.go
  apps/server-go-graphql/server.go
  apps/server-go/go.mod
  apps/server-go/package.json
Due: prettier --write

Refactored uuid on TS type to id. Added server-go example
  apps/server-go/.env
  apps/server-go/.env.example
  apps/server-go/go.mod
  apps/server-go/go.sum
  apps/server-go/server.go
  apps/server-graphql/src/schema.ts
  apps/server/src/server.ts
  packages/lib/types/todo.ts
Due: eslint --fix, prettier --write

Added prisma example
  .gitignore
  TODO.md
  apps/server-ts-prisma/.env.example
  apps/server-ts-prisma/.eslintrc.js
  apps/server-ts-prisma/package.json
  apps/server-ts-prisma/prisma/migrations/20220202042657_added_todo_item/migration.sql
  apps/server-ts-prisma/prisma/migrations/migration_lock.toml
  apps/server-ts-prisma/prisma/schema.prisma
  apps/server-ts-prisma/src/server.ts
  apps/server-ts-prisma/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Updated existing README files & added new ones to apps/packages
  README.md
  TODO.md
  apps/README.md
  apps/docs/README.md
  apps/server-go-graphql/README.md
  apps/server-go/README.md
  apps/server-graphql/README.md
  apps/server-ts-prisma/README.md
  apps/server/README.md
  apps/web/README.md
  packages/README.md
  packages/config/README.md
  packages/lib/README.md
  packages/tsconfig/README.md
  packages/ui/README.md
Due: prettier --write

Added dockerfiles to golang apps
  apps/server-go-graphql/Dockerfile
  apps/server-go-graphql/go.mod
  apps/server-go-graphql/go.sum
  apps/server-go-graphql/package.json
  apps/server-go-graphql/server.go
  apps/server-go/Dockerfile
  apps/server-go/go.mod
  apps/server-go/go.sum
  apps/server-go/package.json
  apps/server-go/server.go
  package.json
  turbo.json
Due: prettier --write

Added docker support to most apps
  apps/docs/Dockerfile
  apps/docs/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/server-graphql/Dockerfile
  apps/server-graphql/package.json
  apps/server-graphql/src/server.ts
  apps/server-ts-prisma/package.json
  apps/server-ts-prisma/src/server.ts
  apps/server-ts-prisma/tsconfig.json
  apps/server/Dockerfile
  apps/server/package.json
  apps/server/src/server.ts
  apps/web/Dockerfile
  apps/web/next.config.js
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm/pnpm-context.mjs
  turbo.json
Due: eslint --fix, prettier --write

Additional docker support
  README.md
  apps/docs/.jest/setEnvVars.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/server-go-graphql/.env
  apps/server-go-graphql/.env.example
  apps/server-go-graphql/package.json
  apps/server-go-graphql/server.go
  apps/server-go/.env
  apps/server-go/.env.example
  apps/server-go/package.json
  apps/server-graphql/package.json
  apps/server/Dockerfile
  apps/server/package.json
  apps/server/tsconfig.json
  apps/web/package.json
  package.json
  packages/tsconfig/base.json
  turbo.json
Due: eslint --fix, prettier --write

More work on golang containers
  README.md
  apps/server-go-graphql/Dockerfile
  apps/server-go-graphql/build.sh
  apps/server-go-graphql/graph/generated/generated.go
  apps/server-go-graphql/makefile
  apps/server-go-graphql/package.json
  apps/server-go/Dockerfile
  apps/server-go/build.sh
  apps/server-go/makefile
  apps/server-go/package.json
Due: prettier --write

More work on golang containers. Add upx to build
  .github/workflows/build.yml
  apps/server-go-graphql/makefile
  apps/server-go/makefile
Due: none

Add docker builds to GH Actions. Cleanup build script for server-go-graphql
  .github/workflows/build.yml
  apps/server-go-graphql/build.sh
Due: none

Added BuildKit to TypeScript apps
  apps/docs/package.json
  apps/server-graphql/package.json
  apps/server/package.json
  apps/web/package.json
Due: prettier --write

Added docker push script. Added loading port from ENV again. Updated README
  README.md
  apps/server-go-graphql/.env.example
  apps/server-go-graphql/go.mod
  apps/server-go-graphql/go.sum
  apps/server-go-graphql/server.go
  apps/server-go/.env.example
  apps/server-go/go.mod
  apps/server-go/go.sum
  apps/server-go/server.go
  apps/server-graphql/src/server.ts
  apps/server-ts-prisma/src/server.ts
  apps/server/src/server.ts
  apps/web/package.json
  scripts/push.sh
Due: eslint --fix, prettier --write

Added dotenv to projects which needed it. Bumped version in push.sh. Updated README
  .gitignore
  README.md
  apps/server-graphql/package.json
  apps/server-graphql/src/server.ts
  apps/server-ts-prisma/package.json
  apps/server-ts-prisma/src/server.ts
  apps/server-ts-prisma/tsconfig.json
  apps/server/package.json
  apps/server/src/server.ts
  package.json
  pnpm-lock.yaml
  scripts/push.sh
Due: eslint --fix, prettier --write

Added push:docker command
  package.json
Due: prettier --write

Renamed docs project to relay
  README.md
  TODO.md
  apps/docs/README.md
  apps/relay/.env.example
  apps/relay/.eslintrc.js
  apps/relay/.jest/setEnvVars.js
  apps/relay/.jest/setupTests.js
  apps/relay/Dockerfile
  apps/relay/README.md
  apps/relay/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/relay/__tests__/pages/index.test.tsx
  apps/relay/jest.config.js
  apps/relay/next-env.d.ts
  apps/relay/next.config.js
  apps/relay/package.json
  apps/relay/pages/_app.tsx
  apps/relay/pages/index.tsx
  apps/relay/postcss.config.js
  apps/relay/public/favicon-16x16.png
  apps/relay/public/favicon-32x32.png
  apps/relay/public/favicon.ico
  apps/relay/public/images/apple-touch-icon-114x114.png
  apps/relay/public/images/apple-touch-icon-120x120.png
  apps/relay/public/images/apple-touch-icon-144x144.png
  apps/relay/public/images/apple-touch-icon-152x152.png
  apps/relay/public/images/apple-touch-icon-180x180.png
  apps/relay/public/images/apple-touch-icon-57x57.png
  apps/relay/public/images/apple-touch-icon-72x72.png
  apps/relay/public/images/apple-touch-icon-76x76.png
  apps/relay/public/images/apple-touch-icon.png
  apps/relay/public/images/logo.png
  apps/relay/styles/globals.css
  apps/relay/tailwind.config.js
  apps/relay/tsconfig.json
  pnpm-lock.yaml
  scripts/push.sh
Due: eslint --fix, prettier --write

More relay support (Not working, moving to urql
  apps/relay/.babelrc
  apps/relay/data/schema.graphql
  apps/relay/environment.ts
  apps/relay/next.config.js
  apps/relay/package.json
  apps/relay/pages/__generated__/pagesQuery.graphql.ts
  apps/relay/pages/_app.tsx
  apps/relay/pages/index.tsx
  apps/relay/relay.config.js
  packages/config/relay.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Removed schema:copy from build to pass docker build
  apps/client-graphql/package.json
Due: prettier --write

Fixed port issues. Added CORS support to server-go-graphql. Work on client-graphql
  apps/client-graphql/.env.example
  apps/client-graphql/__tests__/pages/index.test.tsx
  apps/client-graphql/package.json
  apps/client-graphql/pages/index.tsx
  apps/server-go-graphql/go.mod
  apps/server-go-graphql/go.sum
  apps/server-go-graphql/server.go
  apps/server-go/server.go
  apps/server-graphql/.env.example
  apps/server-graphql/src/server.ts
  apps/server-ts-prisma/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Added @graphql-codegen to client-graphql
  apps/client-graphql/codegen.yml
  apps/client-graphql/generated/graphql.tsx
  apps/client-graphql/graphql.schema.json
  apps/client-graphql/graphql/query/todosQuery.graphql
  apps/client-graphql/graphql/schema.graphql
  apps/client-graphql/jest.config.js
  apps/client-graphql/package.json
  apps/client-graphql/pages/index.tsx
  apps/client-graphql/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Work on client-graphql UI. Data is now displayed (somewhat) nicely
  apps/client-graphql/__tests__/mocks/client.ts
  apps/client-graphql/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/client-graphql/__tests__/pages/index.test.tsx
  apps/client-graphql/jest.config.js
  apps/client-graphql/package.json
  apps/client-graphql/pages/index.tsx
  apps/client-graphql/tsconfig.json
  packages/ui/components/Button.tsx
  packages/ui/components/Navbars/Generic.tsx
  packages/ui/components/Navbars/index.ts
  packages/ui/components/Todo/Item.tsx
  packages/ui/components/Todo/List.tsx
  packages/ui/components/Todo/index.ts
  packages/ui/components/index.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Can now mark a todo item as done
  apps/client-graphql/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/client-graphql/generated/graphql.tsx
  apps/client-graphql/graphql/mutation/createTodoMutation.graphql
  apps/client-graphql/graphql/mutation/updateTodoMutation.graphql
  apps/client-graphql/package.json
  apps/client-graphql/pages/index.tsx
  packages/ui/components/Todo/Item.tsx
  packages/ui/components/Todo/List.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fixed update logic. Can now delete todo items from UI
  apps/client-graphql/generated/graphql.tsx
  apps/client-graphql/graphql.schema.json
  apps/client-graphql/graphql/mutation/deleteTodoMutation.graphql
  apps/client-graphql/graphql/mutation/updateTodoMutation.graphql
  apps/client-graphql/graphql/schema.graphql
  apps/client-graphql/pages/index.tsx
  apps/server-go-graphql/graph/generated/generated.go
  apps/server-go-graphql/graph/schema.graphqls
  apps/server-go-graphql/graph/schema.resolvers.go
  apps/server-go-graphql/package.json
  packages/ui/components/Todo/Item.tsx
  packages/ui/components/Todo/List.tsx
Due: eslint --fix, prettier --write

Added ability to insert todo items from client-graphql
  apps/client-graphql/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/client-graphql/generated/graphql.tsx
  apps/client-graphql/graphql/mutation/insertTodoMutation.graphql
  apps/client-graphql/pages/index.tsx
  packages/ui/components/Todo/List.tsx
  packages/ui/components/Todo/New.tsx
  packages/ui/components/Todo/index.ts
Due: eslint --fix, prettier --write

Version bump
  scripts/push.sh
Due: none

Updated README with section on what to change after cloning
  README.md
Due: prettier --write

Client - graphql code cleanup. Starting to move towards wrapped components
  apps/client-graphql/graphql/client/index.ts
  apps/client-graphql/pages/index.tsx
Due: eslint --fix, prettier --write

Added wrapper for todo components to move most GraphQL logic out of index page
  apps/client-graphql/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/client-graphql/components/Todo/Item.tsx
  apps/client-graphql/components/Todo/List.tsx
  apps/client-graphql/components/Todo/NewTodo.tsx
  apps/client-graphql/components/Todo/index.ts
  apps/client-graphql/pages/index.tsx
  packages/lib/package.json
  packages/lib/tsconfig.json
  packages/lib/types/props/index.ts
  packages/lib/types/props/todo/index.ts
  packages/lib/types/props/todo/newTodo.ts
  packages/lib/types/props/todo/todoItem.ts
  packages/lib/types/props/todo/todoListOptional.ts
  packages/ui/components/Todo/List.tsx
  packages/ui/components/Todo/New.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Removed pnpm build from GH action to speed things up
  .github/workflows/build.yml
Due: none

Package upgrade
  apps/client-graphql/package.json
  apps/server-graphql/package.json
  apps/server-ts-prisma/package.json
  apps/server/package.json
  apps/web/package.json
  packages/config/package.json
  packages/lib/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

Release 1.1.1
  scripts/push.sh
Due: none

Cleanup packages
  apps/client-graphql/package.json
  apps/server-go-graphql/package.json
  apps/server-go/package.json
  apps/server-graphql/package.json
  apps/server-ts-prisma/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/config/package.json
  packages/lib/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
Due: prettier --write

Added some tests to ui package
  packages/ui/__tests__/components/Navbars/Generix.test.tsx
  packages/ui/__tests__/components/Navbars/__snapshots__/Generix.test.tsx.snap
  packages/ui/__tests__/components/Todo/Item.test.tsx
  packages/ui/__tests__/components/Todo/List.test.tsx
  packages/ui/__tests__/components/Todo/New.test.tsx
  packages/ui/__tests__/components/Todo/__snapshots__/Item.test.tsx.snap
  packages/ui/__tests__/components/Todo/__snapshots__/List.test.tsx.snap
  packages/ui/__tests__/components/Todo/__snapshots__/New.test.tsx.snap
Due: eslint --fix, prettier --write

Package upgrade
  apps/client-graphql/package.json
  apps/server-graphql/package.json
  apps/server-ts-prisma/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Package upgrade
  apps/client-graphql/package.json
  apps/server-graphql/package.json
  apps/server-ts-prisma/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Package upgrades
  apps/client-graphql/package.json
  apps/server-go-graphql/go.mod
  apps/server-go-graphql/go.sum
  apps/server-go/go.mod
  apps/server-go/go.sum
  apps/server-graphql/package.json
  apps/server-ts-prisma/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/config/package.json
  packages/lib/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

Upgrade client-graphql packages
  apps/client-graphql/package.json
  pnpm-lock.yaml
Due: prettier --write

Package upgrade
  apps/client-graphql/__tests__/mocks/client.ts
  apps/client-graphql/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/client-graphql/__tests__/pages/index.test.tsx
  apps/client-graphql/package.json
  apps/server-go-graphql/go.mod
  apps/server-go-graphql/go.sum
  apps/server-go/go.mod
  apps/server-go/go.sum
  apps/server-graphql/package.json
  apps/server-ts-prisma/package.json
  apps/server/package.json
  apps/web/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/web/__tests__/pages/index.test.tsx
  apps/web/package.json
  package.json
  packages/ui/__tests__/components/Navbars/Generix.test.tsx
  packages/ui/__tests__/components/Navbars/__snapshots__/Generix.test.tsx.snap
  packages/ui/__tests__/components/SEO.test.tsx
  packages/ui/__tests__/components/Todo/Item.test.tsx
  packages/ui/__tests__/components/Todo/List.test.tsx
  packages/ui/__tests__/components/Todo/New.test.tsx
  packages/ui/__tests__/components/Todo/__snapshots__/Item.test.tsx.snap
  packages/ui/__tests__/components/Todo/__snapshots__/List.test.tsx.snap
  packages/ui/__tests__/components/Todo/__snapshots__/New.test.tsx.snap
  packages/ui/__tests__/components/__snapshots__/SEO.test.tsx.snap
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,jsx,tsx,css,scss,sass}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx,css,scss,sass})
  prettier --write: ((any of: apps/**/*.{js,ts,jsx,tsx,css,scss,sass}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx,css,scss,sass})) or (any of: *.{json,md})
