Repository ReeceRose/monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Added 3 new empty/placeholder application folders
  .lintstagedrc
  TODO.md
  apps/android/README.md
  apps/ios/README.md
  apps/mobile/README.md
Due: prettier --write

Work on common ts config/eslint
  apps/docs/.eslintrc.js
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/tsconfig.json
  packages/config/eslint-nextjs.js
  packages/config/eslint-preset.js
  packages/config/package.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Moved to .js ending config files
  .lintstagedrc
  .lintstagedrc.js
  .prettierrc
  .prettierrc.js
  TODO.md
Due: prettier --write

Added tailwindcss and refactored/updated eslint/ts configs
  .lintstagedrc.js
  LICENSE
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/postcss.config.js
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/postcss.config.js
  apps/web/styles/globals.css
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  packages/config/eslint-nextjs.js
  packages/config/postcss.config.js
  packages/config/tailwind.config.js
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/ui/.eslintrc.js
  packages/ui/Button.tsx
  packages/ui/Components/Button.tsx
  packages/ui/Components/index.ts
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

web app now contains a simple test using jest
  TODO.md
  apps/web/.jest/setEnvVars.js
  apps/web/.jest/setupTests.js
  apps/web/__tests__/__snapshots__/index.test.tsx.snap
  apps/web/__tests__/index.test.tsx
  apps/web/jest.config.js
  apps/web/package.json
  packages/config/jest-common.js
  packages/config/jest-nextjs.js
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

Cloned next.js-template file and updated it to new monorepo standards
  TODO.md
  apps/next.js-template/.env.example
  apps/next.js-template/.eslintrc.js
  apps/next.js-template/.jest/setEnvVars.js
  apps/next.js-template/.jest/setupTests.js
  apps/next.js-template/Dockerfile
  apps/next.js-template/README.md
  apps/next.js-template/__tests__/components/SEO.test.tsx
  apps/next.js-template/__tests__/components/__snapshots__/SEO.test.tsx.snap
  apps/next.js-template/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/next.js-template/__tests__/pages/index.test.tsx
  apps/next.js-template/components/SEO.tsx
  apps/next.js-template/jest.config.js
  apps/next.js-template/next-env.d.ts
  apps/next.js-template/next.config.js
  apps/next.js-template/package.json
  apps/next.js-template/pages/_app.tsx
  apps/next.js-template/pages/index.tsx
  apps/next.js-template/postcss.config.js
  apps/next.js-template/public/favicon-16x16.png
  apps/next.js-template/public/favicon-32x32.png
  apps/next.js-template/public/favicon.ico
  apps/next.js-template/public/images/apple-touch-icon-114x114.png
  apps/next.js-template/public/images/apple-touch-icon-120x120.png
  apps/next.js-template/public/images/apple-touch-icon-144x144.png
  apps/next.js-template/public/images/apple-touch-icon-152x152.png
  apps/next.js-template/public/images/apple-touch-icon-180x180.png
  apps/next.js-template/public/images/apple-touch-icon-57x57.png
  apps/next.js-template/public/images/apple-touch-icon-72x72.png
  apps/next.js-template/public/images/apple-touch-icon-76x76.png
  apps/next.js-template/public/images/apple-touch-icon.png
  apps/next.js-template/public/images/logo.png
  apps/next.js-template/styles/globals.css
  apps/next.js-template/tailwind.config.js
  apps/next.js-template/tsconfig.json
  packages/config/package.json
  packages/ui/Components/Button.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Added snapshot
  apps/web/__tests__/__snapshots__/index.test.tsx.snap
Due: none

Moved ui component testing to it's package instead of web. Fixed other test related issues
  apps/README.md
  apps/web/__tests__/components/SEO.test.tsx
  apps/web/__tests__/components/__snapshots__/SEO.test.tsx.snap
  apps/web/jest.config.js
  apps/web/tsconfig.json
  package.json
  packages/tsconfig/react-library.json
  packages/ui/__tests__/components/SEO.test.tsx
  packages/ui/__tests__/components/__snapshots__/SEO.test.tsx.snap
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

Removed docs folder (temp)
  apps/docs/.eslintrc.js
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/postcss.config.js
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
Due: eslint --fix, prettier --write

Copied web folder and renamed to docs
  .github/workflows/docs.yml
  TODO.md
  apps/docs/.env.example
  apps/docs/.eslintrc.js
  apps/docs/.jest/setEnvVars.js
  apps/docs/.jest/setupTests.js
  apps/docs/Dockerfile
  apps/docs/README.md
  apps/docs/__tests__/pages/__snapshots__/index.test.tsx.snap
  apps/docs/__tests__/pages/index.test.tsx
  apps/docs/jest.config.js
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/_app.tsx
  apps/docs/pages/index.tsx
  apps/docs/postcss.config.js
  apps/docs/public/favicon-16x16.png
  apps/docs/public/favicon-32x32.png
  apps/docs/public/favicon.ico
  apps/docs/public/images/apple-touch-icon-114x114.png
  apps/docs/public/images/apple-touch-icon-120x120.png
  apps/docs/public/images/apple-touch-icon-144x144.png
  apps/docs/public/images/apple-touch-icon-152x152.png
  apps/docs/public/images/apple-touch-icon-180x180.png
  apps/docs/public/images/apple-touch-icon-57x57.png
  apps/docs/public/images/apple-touch-icon-72x72.png
  apps/docs/public/images/apple-touch-icon-76x76.png
  apps/docs/public/images/apple-touch-icon.png
  apps/docs/public/images/logo.png
  apps/docs/styles/globals.css
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
Due: eslint --fix, prettier --write

Added TS type-check
  .gitignore
  .husky/pre-commit
  apps/docs/tsconfig.tsbuildinfo
  apps/web/tsconfig.tsbuildinfo
  package.json
  turbo.json
Due: prettier --write

Updated TODO and regenerated pnpm-lock file to fix build
  TODO.md
  pnpm-lock.yaml
Due: prettier --write

Updated moduleNameMapper
  apps/docs/jest.config.js
  apps/web/jest.config.js
Due: eslint --fix, prettier --write

Move away from importing via @/shared/ to just ui/
  apps/docs/jest.config.js
  apps/docs/pages/index.tsx
  apps/docs/tsconfig.json
  apps/web/jest.config.js
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write

Trying full jest config for build
  apps/docs/jest.config.js
  apps/docs/tsconfig.tsbuildinfo
  apps/web/jest.config.js
  apps/web/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

Trying changes to jest config. Updates to eslint config:
  .gitignore
  apps/docs/jest.config.js
  apps/docs/package.json
  apps/web/jest.config.js
  apps/web/package.json
  packages/config/eslint-nextjs.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Trying more jest config options to fix build
  apps/docs/jest.config.js
  apps/web/jest.config.js
Due: eslint --fix, prettier --write

Cleanup jest file
  apps/docs/jest.config.js
  apps/web/jest.config.js
Due: eslint --fix, prettier --write

Update to jest-nextjs config
  packages/config/jest-nextjs.js
Due: none

Move to one build
  .github/workflows/build.yml
  .github/workflows/web.yml
  packages/config/jest-nextjs.js
Due: none

Fixed SEO test import
  packages/ui/__tests__/components/SEO.test.tsx
Due: eslint --fix, prettier --write

Regenerated pnpm-lock file. This time remove all node_modules folders
  .github/workflows/build.yml
  packages/config/jest-nextjs.js
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

Trying to fix build
  apps/docs/jest.config.js
  apps/web/jest.config.js
Due: eslint --fix, prettier --write

Trying to fix build
  apps/web/jest.config.js
  jest.config.js
Due: eslint --fix, prettier --write

Removed unused file
  jest.config.js
Due: none

Fixed case issue on import
  apps/docs/pages/index.tsx
  apps/web/pages/index.tsx
  packages/ui/components/Button.tsx
  packages/ui/components/SEO.tsx
  packages/ui/components/index.ts
Due: eslint --fix, prettier --write

Added tailwind to each project as dev dep.
  apps/docs/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

Removed dockerfiles and updated TODO
  TODO.md
  apps/docs/Dockerfile
  apps/web/Dockerfile
Due: prettier --write

Added basic rest API. Seperated eslint config
  .gitignore
  TODO.md
  apps/api/.eslintrc.js
  apps/api/index.ts
  apps/api/package.json
  apps/api/tsconfig.json
  packages/config/eslint-common.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Removed eslint --fix from lintstaged. Added lint command to api app. Now pre-commit will watch any eslint errors using each apps config before and throw an error
  .lintstagedrc.js
  apps/api/package.json
Due: prettier --write

Added pretty basic graphql example.
  apps/api/.env.example
  apps/graphql/.env.example
  apps/graphql/.eslintrc.js
  apps/graphql/package.json
  apps/graphql/src/builder.ts
  apps/graphql/src/data.ts
  apps/graphql/src/schema.ts
  apps/graphql/src/server.ts
  apps/graphql/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

More consistency throughout express api and graphql server
  apps/api/package.json
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/graphql/src/server.ts
  apps/graphql/tsconfig.json
Due: eslint --fix, prettier --write

Renamed api to server and renamed graphql to server-graphql (graphql caused the build to timeout. Likely a conflict of package names). Started on lib package
  apps/server-graphql/.env.example
  apps/server-graphql/.eslintrc.js
  apps/server-graphql/package.json
  apps/server-graphql/src/builder.ts
  apps/server-graphql/src/data.ts
  apps/server-graphql/src/schema.ts
  apps/server-graphql/src/server.ts
  apps/server-graphql/tsconfig.json
  apps/server/.env.example
  apps/server/.eslintrc.js
  apps/server/package.json
  apps/server/src/server.ts
  apps/server/tsconfig.json
  packages/lib/.eslintrc.js
  packages/lib/package.json
  packages/lib/types/comment.ts
  packages/lib/types/post.ts
  packages/lib/types/user.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

GraphQL server is now a basic TODO server
  TODO.md
  apps/server-graphql/package.json
  apps/server-graphql/src/data.ts
  apps/server-graphql/src/schema.ts
  packages/lib/types/comment.ts
  packages/lib/types/index.ts
  packages/lib/types/post.ts
  packages/lib/types/todo.ts
  packages/lib/types/user.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

REST API now matches graphql
  apps/server-graphql/src/schema.ts
  apps/server/package.json
  apps/server/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Swapped apollo-server for express-graphql
  apps/server-graphql/package.json
  apps/server-graphql/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Swapped express-graphql for apollo-server-express
  apps/server-graphql/package.json
  apps/server-graphql/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Reverted to express-graphql (Now have other examples of apollo-server and apollo-server-express in git history)
  apps/server-graphql/package.json
  apps/server-graphql/src/server.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,jsx,tsx,css,scss,sass}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx,css,scss,sass})
  prettier --write: ((any of: apps/**/*.{js,ts,jsx,tsx,css,scss,sass}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx,css,scss,sass})) or (any of: *.{json,md})
